# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

  - Know how to analyze data within a database using SQL
- Learn how to access and interact with databases using Python
- List popular languages for Data Science
- Identify commonly used data science libraries and tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include
1. NumPy
2. pandas
3. scikit-learn
4. Matplotlib
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio |
| Apache Spark |

### Below are a few examples of arithmatic expressions in Python

#### 2+7=9
#### 3*8=24
#### 9-4=5

This is a simple arithmetic expression to multiply then add integers

In [17]:
(3*4)+5

17

This code will convert 200 minutes into hours by dividing by 60

In [20]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Chet Seely